@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

body {
    padding: 3em 6em;
}

p {
    display: inline;
    font-style: italic;
}

input {
    display: block;
    padding: 1em;
    margin: 1em;
}

button {
    width: 100%;
    margin: 1em;
    height: 4em;
    border-radius: 1em;
}